html, body, h1, ul, img {
    margin: 0;
    padding: 0;
}

html {
    margin-right: 20%;
}

#container {
    background-color: #601cfc;
    border:5px solid ;
    width: 50%;
    margin-top: 10px;
    margin-left: 20px;
    padding-left: 25px;
    padding-bottom: 20px;
    padding-right: 25px;
    max-width: 800;
    min-width: 300;
}

h1 {
    color: whitesmoke;
    text-decoration: underline;
    margin-top: 10px;
    border-style: double;
    border-color: bisque;
    border-bottom-color: black;
    border-width: 10px;
    margin-bottom: 15px;
    margin-left: 2px;
    margin-right: 20%;
    padding-left: 20px;
    padding-bottom: 8px;
    padding-top: 10px;
    font-size: 50px;
}

img {
    border-style: solid;
    width: 97%;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 30px;
}

#last-text {
    border-style: solid;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    margin-right: 20px;
}

#first-p {
    color: yellow;
    font-size: 30px;
    
}

hr {
    border:2px solid black;
}

#content {
    list-style:circle;
    margin:20px;
    font-size: 25px;

}

li {
    color: black;
    font-weight: bold;
    margin-left: 20px;
}

#middle {
    color: yellow;
    font-size: 22.5px;
}

#hr-last {
    border:3px solid black;
}

a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    transform: none;
}

a:hover{
    color: black;
    transition: 1.5s;
}

#last-p {
    color: yellow;
    font-size: 30px;
}